<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Plav!</title>
        <link rel="shortcut icon" href="images/ico.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../media/semantic/css/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../media/plav/css/style.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script> <!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" -->
        <script src="../media/semantic/js/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui centered grid">
            <div class="thirteen wide white column">
                <div class="mg-z14">
                <header>
                    <a href="../index.php">
                    <div class="ui three column grid">
                        <div class="four wide tablet computer only column bottom aligned">
                            <div class="ui slarge image">
                                <div class="obrazek-hlavicka">
                                    <img src="images/skokan.png" alt="skokan" />
                                </div>
                            </div>
                        </div>
                        <div class="fourteen wide mobile ten wide tablet ten wide computer column">
                            <div class="ui two column grid">
                                <div class="fourteen wide column">
                                    <div class="ui big image">
                                    <div class="obrazkovy-titulek">
                                        <img src="images/nadpis-plav.png" alt="nadpis" />
                                    </div>
                                    </div>

                                </div>
                                <div class="two wide column">
                                    <div class="ui top aligned right floated small image">
                                    <div class="logo-Grafia">
                                        <img src="../media/grafia/images/logo.png" alt="grafia" />
                                    </div>
                                    </div>

                                </div>
                            </div>
                            <div class="ui sbig image right floated">
                                    <div class="obrazkovy-podtitulek">
                                        <img src="images/podnadpis2.png" alt="podnadpis" />
                                    </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </header>
                <nav>
                    <div class="hamburger">
                        <div class="ui menu">
                            <div class="ui simple dropdown item">
                                <i class="sidebar icon"></i>
                                Menu
                                <div class="menu">
                                    <div class="item"><a class="item" href="../index.php">Úvodní</a></div>
                                    <div class="item"><a class="item" href="prac-mista.php">Pracovní místa</a></div>
                                    
                                    <div class="item"><a class="item" href="skoly-firmy.html">Pro školy a firmy</a></div>
                                    <div class="item"><a class="item" href="ctenari.html">Ohlasy čtenářů</a></div>
                                    <div class="item"><a class="item" href="kontakt.html">Kontakt</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="vodorovne-menu">
                        <div class="ui sticky massive borderless menu grid">
                            <div class="right menu">
                                <a class="item" href="../index.php">Úvodní</a>
                                <a class="item" href="prac-mista.php">Pracovní místa</a>
                               
                                <a class="item" href="skoly-firmy.html">Pro školy a firmy</a>
                                <a class="item" href="ctenari.html">Ohlasy čtenářů</a>
                                <a class="item" href="kontakt.html">Kontakt</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <main>
                    <div class="ui centered  grid">
                        <div class="fourteen wide column">
                            <div class="ui grid">
                                <div class="ten wide column">
                                    <div class="ui centered grid">
                                    <div class="sixteen wide column center aligned"></div>
                                    <div class="five wide column center aligned">
                                            <h2 class="modry-nadpis">Kategorie</h2>
                                            <hr class="cara-nadpisM">
                                        </div>
                                        </div>
                                    <div class="ui segment">
                                        <div class="ui two equal width column grid">
                                            <div class="five wide middle aligned column">
                                                <div class="ui image">
                                                    <img src="images/clanky-obd.jpg" alt="ukazka" />
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="ui header">
                                                    <h3><a href="">Nadpis článku</a></h3>
                                                </div>
                                                <div>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. In convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim sagittis. Pellentesque sapien. Donec quis nibh at felis congue commodo. Nunc auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Aliquam erat volutpat. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Fusce tellus. Vivamus ac leo pretium faucibus. Etiam dictum tincidunt diam. Nullam dapibus fermentum ipsum.
                                                </div>
                                            </div>
                                            <div class="two centered column row">
                                                <a class="ui secondary basic button" href="detail-cl.html">Číst</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui segment">
                                        <div class="ui two equal width column grid">
                                                
                                            <div class="five wide middle aligned column">
                                                <div class="ui image">
                                                    <img src="images/clanky-obd.jpg" alt="ukazka" />
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="ui header">
                                                    <h3><a href="">Nadpis článku</a></h3>
                                                </div>
                                                <div>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. In convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                                                </div>
                                            </div>
                                            <div class="two centered column row">
                                                <a class="ui secondary basic button" href="detail-cl.html">Číst</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui segment">
                                        <div class="ui two equal width column grid">
                                            <div class="five wide middle aligned column">
                                                <div class="ui image">
                                                    <img src="images/clanky-obd.jpg" alt="ukazka" />
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="ui header">
                                                    <h3><a href="">Nadpis článku</a></h3>
                                                </div>
                                                <div>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. In convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. In convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                                                </div>
                                            </div>
                                            <div class="two centered column row">
                                                <a class="ui secondary basic button" href="detail-cl.html">Číst</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="mg-b50"></p>
                </main>
                </div>
            </div>
        </div>
        <script>
            $('.ui.sticky')
                .sticky()
            ;
            
            $('.ui.dropdown')
                .dropdown()
            ;
        </script>
    </body>
</html>
